[Desktop Entry]
# TRANSLATORS: Don't translate this text
Name[ar]=بورتفوليو
Name[de]=Portfolio
Name[es]=Portfolio
Name[fr]=Portfolio
Name[he]=Portfolio
Name[hi]=Portfolio
Name[id]=Portfolio
Name[nl]=Portfolio
Name[pt_BR]=Portfólio
Name[sv]=Portfolio
Name[tr]=Portfolio
Name[zh_CN]=Portfolio
Name=Portfolio
Exec=env GSK_RENDERER=cairo dev.tchx84.Portfolio %f
Terminal=false
Type=Application
GenericName[ar]=مدير ملفات
GenericName[cs]=Správce souborů
GenericName[de]=Dateiverwaltung
GenericName[es]=Gestor de Archivos
GenericName[fr]=Gestionnaire de fichiers
GenericName[he]=מנהל קבצים
GenericName[hi]=फाइल प्रबंधक
GenericName[id]=Manajer Berkas
GenericName[nl]=Bestandsbeheerder
GenericName[pt_BR]=Gerenciador de arquivos
GenericName[sv]=Filhanterare
GenericName[tr]=Dosya Yöneticisi
GenericName[zh_CN]=文件管理器
GenericName=File Manager
Comment[ar]=أدر الملفات أثناء تنقلك
Comment[cs]=Spravujte soubory na cestách
Comment[de]=Verwalte Dateien von unterwegs
Comment[es]=Gestiona archivos en móviles
Comment[fr]=Gérez vos fichiers rapidement
Comment[he]=ניהול הקבצים שלך בדרך
Comment[hi]=चलते-फिरते फाइलें प्रबंधित करें
Comment[id]=Kelola berkas di mana saja
Comment[nl]=Beheer onderweg je bestanden
Comment[pt_BR]=Gerencie arquivos em qualquer lugar
Comment[sv]=Hantera filer på språng
Comment[tr]=Hareketliyken dosyaları yönetin
Comment[zh_CN]=随时随地管理文件
Comment=Manage files on the go
Categories=GTK;Utility;FileManager;
# TRANSLATORS: Don't translate this text
Icon=dev.tchx84.Portfolio
StartupNotify=true
X-Purism-FormFactor=Mobile;
Keywords[ar]=مجلد;مدير;استكشف;مستكشف;قرص;
Keywords[cs]=složka;správce;prohlížet;disk;souborový systém;
Keywords[de]=Ordner,Verwaltung,Erkunden,Speicher,Dateisystem
Keywords[es]=carpeta;administrador;explorar;disco;archivo;
Keywords[fr]=folder;manager;explore;disk;filesystem;dossier;gestionnaire;système de fichiers;fichiers;explorer;disque
Keywords[he]=תיקייה;תיקיה;מנהל;ניהול;סייר;קבצים;כןנם;מערכת קבצים;פורטפליו;
Keywords[hi]=फोल्डर;प्रबंधक;अन्वेषण;डिस्क;फाइलप्रणाली;
Keywords[id]=folder;pengelola;jelajahi;diska;sistem berkas;
Keywords[nl]=map;beheerder;verkennen;schijf;bestandssysteem;
Keywords[pt_BR]=pasta;gerenciador;explorar;disco;sistema de arquivos;
Keywords[sv]=mapp;hanterare:utforska;disk;filsystem;
Keywords[tr]=portfolio;portfolyo;folder;manager;explore;disk;filesystem;klasör;dizin;yönetici;gezin;keşfet;disk;dosya sistemi;dosyasistemi;
Keywords[zh_CN]=文件夹;管理嚣;浏览;硬盘;文件系统;
Keywords=folder;manager;explore;disk;filesystem;
MimeType=inode/directory;
