# SPDX-License-Identifier: GPL-2.0-only
# Copyright (C) 2026 Zulfikar Aji Kusworo (zakusworo) <greataji13@gmail.com>

[Unit]
Description=r7: seed BlueZ board-address from EFS bt_addr (exynos9810)
Before=bluetooth.service
ConditionPathExists=/mnt/vendor/efs/bluetooth/bt_addr

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/droid/droid-get-bt-address.sh

[Install]
WantedBy=bluetooth.service
